/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* VARIABLES */
:root{
    --forestgreen: rgb(0, 44, 33);
    --forestgreen90: rgba(0, 44, 33, 0.9);
    --forestgreen50: rgba(0, 44, 33, 0.5);
    --forestgreen20: rgba(0, 44, 33, 0.2);
    --forestgreen5: rgba(0, 44, 33, 0.05);
    --midgreen: #36602D;
    --lime: 149, 255, 0;
    --lime100: rgb(var(--lime));
    --lime50: rgba(var(--lime), 0.5);
    --lime20: rgba(var(--lime), 0.2);
    --sand: 246, 245, 240;
    --sand100: rgb(var(--sand));
    --sand70: rgba(var(--sand), 0.7);
    --sand50: rgba(var(--sand), 0.5);
    --sand25: rgba(var(--sand), 0.25);
    --sand0: rgba(var(--sand), 0);
    --smoke: rgb(208, 215, 208);
    --smoke50: rgba(208, 215, 208, 0.5);
    --gray: rgb(158, 163, 158);
    --gray50: rgba(158, 163, 158, 0.5);
    --ff: "Funnel Sans","Figtree", sans-serif;
    --ff1: "Funnel Display", var(--ff);
    --ff2: "Times New Roman", Times, serif;
    --ffmono: "JetBrains Mono", monospace;
    --p: 400 1rem/1.5em var(--ff);
    --h1: 400 3.5rem/1em var(--ff1);
    --h2: 500 1.75rem/1.1em var(--ff1);
    --label: 700 0.8rem/1.1em var(--ffmono);
    --emphasis: 500 1.25rem/1.25em var(--ff); 
    --herotext: 500 1.25rem/1.1em var(--ff);
    --herotitle: 500 3.5rem/1em var(--ff1);
    --projecttitle: 600 1.25rem/1em var(--ff);
    --projecthook: 600 2rem/1em var(--ff);
    --heroserif: 3.5rem/1em var(--ff2);

  /*   --herotext: 600 1.25rem/1.2em var(--ff);
    --heroserif: 4rem/1em var(--ff2); */
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;
    --iconsmall: 15px;
    --iconmedium: 20px;
    --iconlarge: 30px;
    --animationquick: 0.5s;
    --softshadow: 0px 5px 30px 0px rgba(0,0,0,0.2);
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  text-wrap: wrap;
  font: var(--p);
  background: var(--forestgreen);
  color: var(--forestgreen);
  cursor: url("/img/cursor.svg"), auto;
  overflow-x: hidden;
}

.grid-bg{
  background: var(--smoke);
  background-image: url(/img/Grid2.svg);
  background-repeat: repeat;
}

.grid-bg-dark{
  background: rgb(30, 30, 30);
  background-image: url(/img/Grid2.svg);
  background-repeat: repeat;
}

.underline {
  text-decoration: underline;
} 
h1 {
  font: var(--h1);
  letter-spacing: -.025em;
  margin: var(--spacing2) 0;
}
h2 {
  font: var(--h2);
  margin: var(--spacing2) 0;
}
.project-title{
  font: var(--projecttitle);
  margin-top: 0;
}
.project-hook{
  font: var(--projecthook);
}
.project-desc{
  opacity: 50%;
  line-height: 100%;
}

.hero-title{
  font: var(--herotitle);
  letter-spacing: -.025em;
  text-wrap-style: balance;
}

.hero-text{
  font: var(--herotext);
}

.hero-serif{
  font: var(--heroserif);
  letter-spacing: -0.08em;
}

.label{
  font: var(--label);
  font: 600 1rem/1em var(--ffmono);
  text-transform: uppercase;
  letter-spacing: .05em; 
}

.mono{
  font: 600 1rem/1em var(--ffmono);
  text-transform: lowercase;
}

.role{
    border: 1px solid var(--forestgreen);
    margin: 0px;
    padding: 2px 12px;
    border-radius: 20px;
    opacity: 30%;
    transition: all 1s ease;
    width: fit-content;
}

.label-outline {
  border: 1px solid var(--forestgreen);
  margin: 0px;
  padding: 2px 12px;
  border-radius: 20px;
  transition: all 1s ease;
  width: fit-content;
}

.label-white{
  border: 1px solid var(--sand100);
  color: var(--sand100);

}

.emphasis{
  font: var(--emphasis);
  margin: 0;
  font-family: var(--ffmono);
}

p {
  margin: var(--spacing2) 0;
}

.icon{
  height: 0.7em;
  width: auto;
}

/* TABLET FONT SIZE ADJUSTMENTS */

@media screen and (min-width: 600px) {
  /* CSS rules to apply when the screen width is 600px or less */
      :root{


        /* --p: 400 1rem/1.5em var(--ff); */
        /* --h1: 700 3rem/1em var(--ff1);
        --h2: 600 2.5rem/1em var(--ff1);
        --label: 800 1.5rem/1.2em var(--ff);
        --emphasis: 600 1.5rem/1.25em var(--ff);
        
        
        --projecttitle: 700 1.25rem/1em var(--ff);
        ;
         */
        --herotitle: 500 4rem/1em var(--ff1);
        --heroserif: 6rem/1em var(--ff2);
        --herotext: 500 1.5rem/1.1em var(--ff);
      }

      /* .hero-text{
        margin: var(--spacing3) 0;
      } */



      
}

/* LAPTOP FONT SIZE ADJUSTMENTS */

@media screen and (min-width: 1000px) {
  :root{
    --herotitle: 500 6rem/1em var(--ff1);
  }
}




a {
  color: var(--color10);
  text-decoration: none;
}
a:hover {
  color: var(--color30);
  cursor: url('/img/link-cursor.svg'), auto;
}
.btn,
button {
  all: unset;
  display: inline-block;
  margin: var(--spacing2) 0;
  background: var(--color100);
  padding: var(--spacing2) var(--spacing3);
  color: var(--color10);
  border-radius: var(--spacing2);
  border-bottom: solid var(--spacing1) var(--accent);
  font: var(--p);
  cursor: url('/img/link-cursor.svg'), auto;
}
.btn:hover,
button:hover {
  background: linear-gradient(180deg, var(--color100), var(--color90));
  transition: 0.3s ease-in-out;
}
img {
  width: 100%;
}

ol, ul{
  padding: revert;
}
/* UTILITY CLASSES */
section {
  width: 90%;
  margin: 0 auto;
}

.gallery {
  display: grid;
  gap: var(--spacing2);
  padding: var(--spacing4) 0;
}

.gallery-img{
  border-radius: var(--spacing2);
  padding: 0px; 
  background-color: var(--sand25);
  border: none;
  box-shadow: 0px 0px 0px 1px var(--gray50), var(--softshadow);

}

@media screen and (min-width: 600px) {
  .gallery {
    gap: var(--spacing4);
  }

  .gallery-img{
    border-radius: var(--spacing4);
  }

}


.img-border{
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px var(--gray50), var(--softshadow);
  border-radius: var(--spacing3);
}
.center {
  text-align: center;
}
/* .hidden {
  display: none;
} */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing4);
  flex-wrap: wrap;
}
.flex > * {
  flex: 1;
  min-width: 400px;
}
.reverse {
  flex-direction: row-reverse;
}
.padding1 {
  padding: var(--spacing1) 0;
}
.padding2 {
  padding: var(--spacing2) 0;
}
.padding3 {
  padding: var(--spacing3) 0;
}
.padding4 {
  padding: var(--spacing4) 0;
}
.padding5 {
  padding: var(--spacing5) 0;
}
.padding6 {
  padding: var(--spacing6) 0;
}
.padding7 {
  padding: var(--spacing7) 0;
}
.margin1 {
  margin: var(--spacing1) auto;
}
.margin2 {
  margin: var(--spacing2) auto;
}
.margin3 {
  margin: var(--spacing3) auto;
}
.margin4 {
  margin: var(--spacing4) auto;
}
.margin5 {
  margin: var(--spacing5) auto;
}
.margin6 {
  margin: var(--spacing6) auto;
}
.margin7 {
  margin: var(--spacing7) auto;
}





.absolute-center{
  position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.block-container > .left-col > p:first-of-type{
        margin-top: 0;
    }

.link-group{
  display: flex;
  gap: var(--spacing2);
}


.emphasis-container{
  display: flex;
  padding: var(--spacing2);
  gap: var(--spacing2);
  border-radius: var(--spacing3);
  background-color: var(--sand50);
  margin: var(--spacing2) 0;
}
.item{
  flex: 1;
  background-color: var(--sand50);
  padding: var(--spacing2);
  border-radius: var(--spacing2);
}

/* 
ARTICLE STUFF
 */

 img{
        display: block; 
        width: 100%;
    }

    .slider {
        height: 100%;
    }

    .slider > div, .slider > img{
        position: sticky;
        top: var(--spacing3);
    }

    .slider > img{
        margin: var(--spacing3) auto;
    }

    .emphasis-container{
        flex-wrap: wrap;
    }

    .img-with-link{
        position: relative;
    }

    .link-bottom-right{
        position: absolute;
        bottom: var(--spacing3);
        right: var(--spacing3);
    }
